@tailwind base;
@tailwind components;
@tailwind utilities;

.section-container {
  @apply max-w-[1440px] mx-auto md:px-20 px-5 py-20;
}

.form-label {
  @apply font-bold;
}

.form-input {
  @apply bg-transparent w-full outline-primary p-3 rounded-lg border;
}

.contact-form-label {
  @apply font-bold;
}

.contact-form-input {
  @apply bg-white w-full outline-primary p-3 rounded-lg border;
}

.slick-prev:before,
.slick-next:before {
  color: #052440 !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.about {
  background-image: url("/images/png/about-bg.png");
  background-color: #052440;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.plan-text {
  @apply px-5 py-3 border-b border-b-black h-[62px] flex items-center;
}

/* Loaders */
.loader {
  width: 24px;
  height: 24px;
  border: 3px solid #fff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-bottom-color: #fff;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader2 {
  width: 48px;
  height: 48px;
  border: 3px dotted #e8e8e8;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation2 2s linear infinite;
}

.loader2::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px dotted #052440;
  border-style: solid solid dotted;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack2 1s linear infinite;
  transform-origin: center center;
}

@keyframes rotation2 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack2 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}
